
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.grid-content {
  padding: 2px;
  // margin: 2px;
  background-color: white;
  border: 1px solid #999;
}

.body-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.example-container {
  width: 100%;
  min-width: 400px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.example-sidenav {
  padding: 0rem;
  min-width: 10rem;
}

