@use 'sass:map';
@use '@angular/material' as mat;
@import "/src/theme.scss";
$primary: map.get($my-theme, primary);

:host {
  .is-data-wrapper {
    width: 100%;
    display: block;
  }
  .player-card {
    margin: 0.5rem;
    flex: 5;
    border: 5px solid transparent;
    transition: all 0.3s;

    .btn-close {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &.active {
      flex: 7;
      border-color: mat.get-color-from-palette($primary);
    }

    .player-controls {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 5rem;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2.5rem;
      border: 3px solid;
      border-color: mat.get-color-from-palette($primary);
      width: 14rem;
      opacity: 0;
      transition: opacity 0.3s;
      z-index: 10;
      >* {
        margin: 0.3rem;
      }
    }

    &:hover {
      .btn-close,
      .player-controls {
        opacity: 1;
      }
    }
  }
}
